# Ignora pastas de ambientes virtuais
venv/
venv*/        # cobre venv310, venv3.10, etc
.env/
.env*/

# Ignora arquivos do Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos de log e banco de dados temporários
*.log
*.sqlite3

# Configs do VSCode e IDEs
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db
